@use 'variables';

h2 {
	color: variables.$white-color;
	font-size: 3rem;
	margin: 3rem;
}

.categories-container {
	width: variables.$container-width;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	gap: 2rem;
	padding: 2rem;
}

.category {
	padding: 1rem 0;
	font-size: 1.2rem;
	border: 1px solid variables.$white-color;
	border-radius: 10px;
	color: variables.$white-color;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	transition: all linear 0.2s;
}
.category:hover {
	background-color: variables.$white-color;
	border: 1px solid black;
	color: black;
	cursor: pointer;
}

.buttons-container {
	display: flex;
	justify-content: center;
	gap: 4rem;
	margin: 3rem;
}

.button {
	background-color: rgba(255, 255, 255, 0.1);
	text-decoration: none;
	font-size: 1.6rem;
	font-family: variables.$font;
	padding: 1rem 4rem;
	border-radius: 50px;
	color: variables.$white-color;
	border: 3px solid variables.$white-color;
	cursor: pointer;
	display: block;
}

.button:hover {
	transform: scale(1.1);
}
