@use 'variables';

.difficulty-container {
	width: 60%;
	margin: 5rem auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3rem;
}

.difficulty {
	padding: 1rem 0;
	font-size: 1.2rem;
	border: 1px solid variables.$white-color;
	border-radius: 10px;
	color: variables.$white-color;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	transition: all linear 0.2s;
}

.difficulty:hover {
	background-color: variables.$white-color;
	border: 1px solid black;
	color: black;
	cursor: pointer;
}
