@use 'variables';

h4 {
	color: variables.$white-color;
	font-size: 1.5rem;
	padding: 0 2rem;
}

.answers-container {
	width: 60%;
	margin: 5rem auto;
	display: grid;
	grid-template-columns: auto auto;
	gap: 3rem;
}

.answer-btn {
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid variables.$white-color;
	color: variables.$white-color;
	cursor: pointer;
	border-radius: 10px;
	font-size: 1.2rem;
}

.answer-btn.correct {
	background: green;
}

.answer-btn.wrong {
	background: red;
}

.timer-bar {
	height: 6px;
	width: 100%;
	background-color: #4caf50;
	transition: width 0.1s linear;
	border-radius: 3px;
	margin: 2rem 0;
	margin-bottom: 10rem;
}

.new-game-btn {
	margin: 4rem;
	font-size: 3rem;
	font-family: variables.$font;
	padding: 1rem 4rem;
	border-radius: 50px;
	color: variables.$white-color;
	border: 3px solid variables.$white-color;
	cursor: pointer;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.1);
	display: inline-block;
	transition: all ease 0.2s;
}

.new-game-btn:hover {
	transform: scale(1.1);
}

.game-over-text {
	font-size: 5rem;
	margin-top: 10rem;
}

.score {
	font-size: 2rem;
	color: variables.$white-color;
}