@media (max-width: 1200px) {
	html {
		font-size: 14px;
	}
}
@media (max-width: 992px) {
	html {
		font-size: 12px;
	}
}
@media (max-width: 768px) {
	html {
		font-size: 10px;
	}
	section .container {
		flex-direction: column;
		gap: 3rem;
	}
	.categories-container {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 576px) {
	.home h1 {
		font-size: 3rem;
	}

	.categories-container {
		display: flex;
		flex-direction: column;
	}

	.category,
	.difficulty,
	.type,
	.answer-btn {
		font-size: 1.8rem;
	}

	.difficulty-container {
		display: flex;
		flex-direction: column;
	}

	.answers-container {
		display: flex;
		flex-direction: column;
	}

	h4 {
		font-size: 2rem;
	}
}

@media (hover: hover) {
	#start-quizz-btn:hover {
		transform: scale(1.1);
	}
}

@media (hover: none) {
	#start-quizz-btn:active {
		transform: scale(0.97);
	}
	.container p:nth-child(1) {
		transform: none;
		animation: none;
	}
	.container p:nth-child(2) {
		transform: none;
		animation: none;
	}
	.container p:nth-child(3) {
		transform: none;
		animation: none;
	}
}
