@media (max-width: 1200px) {
	html {
		font-size: 14px;
	}
}
@media (max-width: 992px) {
	html {
		font-size: 12px;
	}
}
@media (max-width: 768px) {
	html {
		font-size: 10px;
	}
	section .container {
		flex-direction: column;
		gap: 3rem;
	}
	.categories-container {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 576px) {
	html {
		font-size: 8px;
	}

	.difficulty-container {
		display: flex;
		flex-direction: column;
	}

	.answers-container {
		display: flex;
		flex-direction: column;
	}
}
