@use 'variables';
@use 'categories';
@use 'difficulty';
@use 'type';
@use 'game';
@use 'responsive';

* {
	margin: 0;
	padding: 0;
	font-family: variables.$font;
	color: variables.$white-color;
}

@mixin center {
	margin: 0 auto;
	text-align: center;
}

body {
	text-align: center;
	background-color: #f8f6ff;
	min-height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
}

h1 {
	@include center;
	margin-top: 4rem;
	width: variables.$container-width;
	color: variables.$orange-color;
	font-size: 5rem;
	text-transform: uppercase;
}

.container {
	@include center;
	width: variables.$container-width;
	padding: 1rem;
	margin: 2rem auto;
	display: flex;
	gap: 2rem;
}

.info-card {
	@include center;
	display: flex;
	align-items: center;
	padding: 2rem;
	background: radial-gradient(ellipse, #d6caff, #b29ff2);
	box-shadow: 0 0 10px #b29ff2;
	color: variables.$white-color;
	width: fit-content;
	font-size: 1.6rem;
	border-radius: 20px;
	transform: translateX(-100vw);
	animation: fromLeft 0.5s ease-out forwards;
	animation-delay: 0.1s;
}

.info-card.reverse {
	transform: translateY(-200vh);
	animation: fallBounce 1.5s cubic-bezier(0.25, 0.8, 0.5, 1) forwards;
	animation-delay: 1s;
}

.info-card img {
	width: 120px;
	height: 120px;
}

@keyframes fallBounce {
	0% {
		transform: translateY(-200px);
		opacity: 0;
	}

	30% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-20px);
		opacity: 1;
	}

	70% {
		transform: translateY(0);
	}

	85% {
		transform: translateY(-10px);
	}
	95% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-3px);
	}
}
@keyframes fromLeft {
	0% {
		transform: translateX(-200px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

#start-quizz-btn {
	margin: 4rem;
	font-size: 3rem;
	font-family: variables.$font;
	padding: 1rem 4rem;
	border-radius: 60px;
	color: variables.$orange-color;
	border: 6px solid variables.$orange-color;
	cursor: pointer;
	text-decoration: none;
	background: variables.$white-color;
	display: inline-block;
	transition: all ease 0.2s;
}

#start-quizz-btn:hover {
	transform: scale(1.1);
	color: variables.$white-color;
	background: variables.$orange-color;
}

.selected {
	background-color: variables.$white-color;
	border: 1px solid black;
	color: black;
}
