@use 'variables';
@use 'categories';
@use 'difficulty';
@use 'type';
@use 'game';
@use 'responsive';

* {
	margin: 0;
	padding: 0;
	font-family: variables.$font;
	color: variables.$white-color;
}

@mixin center {
	margin: 0 auto;
	text-align: center;
}

body {
	text-align: center;
	background-image: linear-gradient(
		-225deg,
		#231557 0%,
		#44107a 29%,
		#ff1361 67%,
		#fff800 100%
	);
	min-height: 100dvh;
	background-repeat: no-repeat;
}

main {
	display: flex;
	flex-direction: column;
}

.home {
	overflow-x: hidden;
}

h1 {
	@include center;
	margin-top: 4rem;
	width: variables.$container-width;
	font-size: 5rem;
	text-transform: uppercase;
}

.container {
	@include center;
	width: variables.$container-width;
	padding: 1rem;
	margin: 2rem auto;
	display: flex;
	gap: 1rem;
}

p {
	@include center;
	padding: 2rem;
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid variables.$white-color;
	color: variables.$white-color;
	width: fit-content;
	font-size: 1.6rem;
	border-radius: 30px;
}

p:nth-child(1) {
	transform: translateX(-100vw);
	animation: fromLeft 0.5s ease-out forwards;
	animation-delay: 0.1s;
}
p:nth-child(2) {
	transform: translateY(-200vh);
	animation: fallBounce 1.5s cubic-bezier(0.25, 0.8, 0.5, 1) forwards;
	animation-delay: 1s;
}
p:nth-child(3) {
	transform: translateX(100vw);
	animation: fromRight 0.5s ease-out forwards;
	animation-delay: 2s;
}

@keyframes fallBounce {
	0% {
		transform: translateY(-200px);
		opacity: 0;
	}

	30% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-20px);
		opacity: 1;
	}

	70% {
		transform: translateY(0);
	}

	85% {
		transform: translateY(-10px);
	}
	95% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-3px);
	}
}

@keyframes fromRight {
	0% {
		transform: translateX(200px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes fromLeft {
	0% {
		transform: translateX(-200px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

#start-quizz-btn {
	margin: 4rem;
	font-size: 3rem;
	font-family: variables.$font;
	padding: 1rem 4rem;
	border-radius: 50px;
	color: variables.$white-color;
	border: 3px solid variables.$white-color;
	cursor: pointer;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.1);
	display: inline-block;
	transition: all ease 0.2s;
}

#start-quizz-btn:hover {
	transform: scale(1.1);
}

.selected {
	background-color: variables.$white-color;
	border: 1px solid black;
	color: black;
}
